.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-lavender);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
} 

.loadingText {
  font-family: var(--font-press-start-2p);
  font-size: 1.5rem;
  color: var(--color-pink);
  margin-bottom: 1rem;
}

.loadingBar {
  width: 200px;
  height: 20px;
  background-color: var(--color-white);
  border: 2px solid var(--color-pink);
}

.loadingProgress {
  height: 100%;
  background-color: var(--color-baby-blue);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

